* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: minmax(225px, 1fr) 6fr;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

aside {
  background-color: darkblue;
  display: grid;
  grid-template-rows: 1fr 4fr 5fr;
  height: 100vh;
  gap: 20px;
  color: white;
}

main {
  background-color: lightgray;
  display: grid;
  grid-template-rows: minmax(145px, 1fr) 4fr;
}

#logo-ctn {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

aside img {
  height: 25px;
  width: 25px;
}

#primary-nav,
#secondary-nav {
  list-style: none;
  display: grid;
  align-items: center;
  padding-left: 25px;
}

#primary-nav {
  grid-template-rows: repeat(6, max(40px));
}

#secondary-nav {
  grid-template-rows: repeat(3, max(40px));
}

li {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
}

header {
  background-color: #fff;
  filter: drop-shadow(0px 0px 10px hsla(0, 0%, 0%, 0.5));
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  padding: 0 35px;
}

#search-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-bar {
  display: flex;
  gap: 0px;
  padding: 0px;
  margin: 0px;
  height: 30px;
}

#search-bar input {
  border: none;
  background-color: #e2e2e2;
  border-radius: 30px 0px 0px 30px;
  padding-left: 15px;
  min-width: 350px;
}

#search-bar button {
  border: none;
  width: 30px;
  background-color: darkblue;
  color: white;
}

#search-bar button i {
  font-size: 18px;
  font-weight: bold;
}

#upper-right-ctn {
  display: flex;
  align-items: center;
  gap: 25px;
}

#profile-img-ctn {
  background-color: lightgray;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

#profile-img {
  position: relative;
  top: 16px;
  left: 9px;
  font-size: 36px;
  color: #696b6d;
}

#lang-select {
  display: flex;
  align-items: center;
  gap: 5px;
}

#div2 {
  background-color: green;
}

section {
  background-color: #ebebeb;
}
