* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: minmax(225px, 1fr) 6fr;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

aside {
  padding-top: 35px;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  gap: 35px;
  color: white;
  z-index: 1;
  min-height: 100vh;
}

main {
  display: grid;
}

#logo-ctn {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

aside img {
  height: 25px;
  width: 25px;
}

#primary-nav,
#secondary-nav {
  list-style: none;
  display: grid;
  align-items: center;
  padding-left: 25px;
}

#primary-nav {
  grid-template-rows: repeat(6, max(40px));
}

#secondary-nav {
  grid-template-rows: repeat(3, max(40px));
}

li {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
}

header {
  background-color: #fff;
  filter: drop-shadow(0px 0px 10px hsla(0, 0%, 0%, 0.5));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  height: 100px;
}

#search-bar {
  display: flex;
  gap: 0px;
  padding: 0px;
  margin: 0px;
  height: 30px;
}

#search-bar input {
  border: none;
  background-color: #e2e2e2;
  border-radius: 30px 0px 0px 30px;
  padding-left: 15px;
  min-width: 350px;
}

#search-bar button {
  border: none;
  width: 30px;
  background-color: darkblue;
  color: white;
}

#search-bar button:hover {
  cursor: pointer;
  background-color: black;
}

#search-bar button i {
  font-size: 18px;
  font-weight: bold;
}

#header-mid {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  height: 30px;
}

.header-btn {
  background-color: darkblue;
  color: white;
  border: 3px solid darkblue;
  border-radius: 30px;
  padding: 0 35px;
}

.header-btn:hover {
  cursor: pointer;
  border: 3px solid darkblue;
  background-color: white;
  color: darkblue;
}

#header-right {
  display: flex;
  align-items: center;
  gap: 35px;
}

#profile-img-ctn {
  background-color: lightgray;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

#profile-img {
  position: relative;
  top: 16px;
  left: 9px;
  font-size: 36px;
  color: #696b6d;
}

#lang-select {
  display: flex;
  align-items: center;
  gap: 5px;
}

#content-ctn {
  background-color: gray;
  padding: 35px;
  height: 2000px;
}
